@model IEnumerable<ExpertransDaoTao.Models.Teachers>
<table class="table table-head-fixed">
    <thead>
        <tr>
            <th>STT</th>
            <th>Mã giảng viên</th>
            <th>Tên giảng viên</th>
            <th>Email</th>
            <th>Số điện thoại</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Id</td>
                <td>@obj.UserName</td>
                <td>@obj.Name</td>
                <td><span class="tag tag-success">@obj.Email</span></td>
                <td>@obj.Mobile</td>
                <td>
                    <button type="button" class="btn btn-primary teacher-add" id="teacher-@obj.Id">Chọn</button>
                </td>
            </tr>
        }
    </tbody>
</table>
